.start_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}
.kakao_button, .google_button{
    width: 80%;
    height: 60px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    border: none;
}
.kakao_button{
    background-color: #FFE600;
}
.google_button{
    background-color: white;
    border: 1px solid #E7E7E7;
}
.CharZzk_Logo{
    width: 60%;
    padding-left: 85px;
    margin-top: 200px;

}
.ChageStart_Box{
    display: flex;
    flex-direction: column;
}
.battery_value{
    font-size: 60px;
    color: white;
    font-weight: 900;

}
.chargestart_content, .chargeend_content{
    color: white;
    font-weight: 900;
}
.ChargeStart_btn{
    background-color: #5CDAB8;
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    margin: 10px;
    color: white;
    font-weight: bolder;
    font-size: 16px;
}
.Cancel_btn{
    background-color: white;
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    margin: 10px;
    color: #5CDAB8;
    font-weight: bolder;
    font-size: 16px;
}
.CompleteCharge_contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}