.start_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
}
.kakao_button, .google_button{
    width: 80%;
    height: 60px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    border: none;
}
.kakao_button{
    background-color: #FFE600;
}
.google_button{
    background-color: white;
    border: 1px solid #E7E7E7;
}
.CharZzk_Logo{
    width: 60%;
    padding-left: 85px;
    margin-top: 200px;

}
.ChageStart_Box{
    display: flex;
    flex-direction: column;
}
.battery_value{
    font-size: 70px;
    color: white;
    font-weight: 900;
    font-family: 'yg-jalnan';
    margin: 0px;
}
.chargestart_content, .chargeend_content{
    color: white;
    font-weight: 900;
    margin: 10px;
    font-size: 20px;
    font-family: 'yg-jalnan';
    gap: 10px;
}
.ChargeStart_btn {
    background-color: #5CDAB8;
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    margin: 10px;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    font-family: 'yg-jalnan';
}

.Cancel_btn {
    background-color: white;
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 50px; 
    margin: 10px;
    color: #5CDAB8;
    font-weight: bolder;
    font-size: 16px;
    font-family: 'yg-jalnan';
}


.CompleteCharge_contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div.modal-content{
        background-color: #5cdab800;
        height: 100%;
    }

    .HowWaiting{
        color: #5CDAB8;
        font-size: 25px;
        font-weight: bolder;
        font-family: 'yg-jalnan';
    }

.confirm_second{
    color: white;
    font-size: 20px;
    font-family: 'yg-jalnan';
    padding: 0;
    margin: 0;
}

.remain-time-box{
    display: flex;
}

.confirm_second2{
    color: white;
    font-size: 22px;
    font-family: 'yg-jalnan';
    height: 10px;
    margin-top: 50px;
}

.green-text{
    color: #acf9e5;
}

.white-text{
    color: white;
}
