.SignUp_contents_box{
    padding-left: 40px;
    margin-top: 22%;
}

.SignUp_contents1, .SignUp_contents2{
    font-weight: 700;
    font-size: 20px;
}

.SignUpBox_contents{
    align-items: center;
    padding-left: 40px;
}

.SignUpBox_content1{
    color: rgb(140, 140, 140);
    font-weight: 600;
}