.MapManagement_container{
    padding-left: 150px;
    margin-top: 60px;
}
.Management_Map{
    width: 80%;
    height: auto;
}
#KakaoMap {
    margin-left:80px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */    
    padding-left: 300px;
    position: relative;
  }
  .ParkingListBox{
    position: absolute;
    top: 63px; /* 원하는 위치로 조정 */
    left: 80px;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    background-color: #F3F3F3; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1; 

  }

  .ParkingListTitle{
    z-index: 3;
    font-weight: bolder;
    font-size: 25px;
    padding: 30px;
    padding-left: 80px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(223, 223, 223);
    
  }

  .parking_box{
    position: relative;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding: 10px;
    display: flex;
    background-color: #F3F3F3;
  }
   .parking_contents{
    margin-left: 10px;

  }
  .parking_name{
    margin: 0;
    font-size: 15px;
  }
  .parking_address{
    font-size: 13px;
  }

  .check_robot_button {
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
    position: absolute;
    right: 10px;
    bottom: 8px;
  }

  .check_robot_button:hover {
    background-color: #16a085;
  }

  .check_robot_button.selected {
    background-color: #f39c12; /* 선택된 경우 색상 변경 */
  }

  .robot_info {
    background-color: rgba(25, 4, 68, 0.7);
    color: white;
    padding: 15px;
    position: fixed; /* fixed로 변경하여 페이지 하단에 고정 */
    bottom: 0; /* 페이지 하단에 고정 */
    right: 0px;
    width: 60%; /* 화면 전체 너비 */
    z-index: 10;
}

.ParkingListBox{
  display: flex;
  flex-direction: column;
  height: 88.2vh;
}