.DocumentManagement_container{
    margin: 60px;
    margin-left: 150px;
}
.IssueList_Box{
    width: 100%;
    height: 500px;
    background-color: white;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.IssueList_title{
    font-size: 30px;
    padding-bottom: 20px;
}
.IssueList_Contents_title{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-top: 25px;
    border-bottom: 1px solid rgb(220, 220, 220);
    width: 90%;
    height: 4%;
    color: gray;
    font-size: 15px;
    font-weight: bold;
}